* {
  font-family: 'Playfair Display', serif;
  margin : 0px;
  padding: 0px;
}

body {
  height: 110vh;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px;
}

p {
  margin: 20px;
  padding : 10px;
  font-size: 19px;
  line-height: 32px;
}

#italic {
  font-style: italic;
}
