* {
  font-family: 'Playfair Display', serif;
  margin : 0px;
  padding: 0px;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px;
}

h3 {
  margin: 20px;
}

p {
  margin: 20px;
  font-size: 19px;
  line-height: 32px;
  width: 75%;
}

#italic {
  font-style: italic;
}
